<div class="container">
    <div class="col-md-6">
        <div class="row">
            <h2>Zmiana hasła</h2><br>
            Zmiana hasła spowoduje wylogowanie.
        </div>
        <div class="row">
            <form>
                <div>
                    <label for="oldPassword">Stare hasło</label>
                    <input type="password" class="form-control"  id="oldPassword" ng-model="changePassword.oldPassword">
                </div>
                <div>
                    <label for="newPassword">Nowe hasło</label>
                    <input type="password" class="form-control"  id="newPassword" ng-model="changePassword.newPassword">
                </div>
                <div>
                    <label for="newPasswordRepeated">Powtórz nowe hasło</label>
                    <input type="password" class="form-control"  id="newPasswordRepeated" ng-model="newPasswordRepeated">
                </div>

                <button type="submit" ng-click="change()" class="btn btn-default">Zmień hasło</button>
            </form>
        </div>
        <div class="row">
            {{ success }}
        </div>
    </div>
</div>

