<div class="container">
    <div class="col-md-6">
        <div class="row" ng-show="user.doctor">
            <h2>Dodaj wizytę</h2>
        </div>
        <div class="row" ng-hide="user.doctor">
            <h2>Umów się na wizytę</h2>
        </div>
        <div class="row">
            <form>
                <div ng-show="user.doctor">
                    <label for="pesel">PESEL</label>
                    <input type="text" class="form-control" id="pesel" ng-model="params.userUuid">
                </div>
                <div ng-hide="user.doctor">
                    <label for="dane">Imię i nazwisko</label>
                    <input type="text" class="form-control" disabled id="dane" ng-model="mocker">
                </div>
                <div>
                    <label for="date">Data</label>
                    <input type="datetime-local" class="form-control" id="date" ng-model="params.date">
                </div>
                <button type="submit" ng-click="register(params)" class="btn btn-primary">Zarejestruj</button>
            </form>
        </div>
        <div class="row">
            {{ success }}
        </div>
    </div>

</div>

