<div class="container">
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-2">
                <h2>Wizyty</h2>
            </div>
        </div>
        <div class="row" ng-show="authenticated">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-md-2">
                                <div class="panel-default">Status</div>
                            </div>
                            <div class="col-md-2">
                                <div class="panel-default">Imię</div>
                            </div>
                            <div class="col-md-2">
                                <div class="panel-default">Nazwisko</div>
                            </div>
                            <div class="col-md-2">
                                <div class="panel-default">Kiedy</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default" ng-repeat="visit in visits">
                    <div class="panel-heading">
                        <div role="button" data-toggle="collapse" data-parent="#accordion"
                             data-target="#visit-{{$index}}">
                            <div class="row">
                                <div class="col-md-2">
                                    <span class="glyphicon glyphicon-ok" ng-show="visit.completed"></span>
                                    <span class="glyphicon glyphicon-remove"
                                          ng-show="!visit.completed && visit.date < yesterday"></span>
                                </div>
                                <div class="col-md-2">
                                    <div class="panel-default"> {{visit.user.firstName}}</div>
                                </div>
                                <div class="col-md-2">
                                    <div class="panel-default">{{visit.user.lastName}}</div>
                                </div>
                                <div class="col-md-4">
                                    <div class="panel-default">{{visit.date | date:'yyyy-MM-dd HH:mm'}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="visit-{{$index}}" class="panel-collapse collapse">
                        <div class="panel-body">
                            Podsumowanie wizyty: <br> {{ visit.notes }}<br>
                            <button type="submit" ng-click="edit(visit)" class="btn btn-default">Edytuj</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

